<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/producto.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Tienda</a></li>
                <li><a href="/admin/crear-producto">Crear Producto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form action="/admin/crear-producto" method="POST">
            <input type="text" name="nombreproducto">
            <button type="submit">Crear Producto</button>
        </form>
    </main>

</body>

</html>